$font-mono: 'Fira Mono', monospace;

$column-width: 42rem;
$column-margin-top: 4rem;

$primary: #191627;
$tertiary: #6a87fb;
$secondary: #5d0cc7;
$accent: #6e57e0;
$heading: #f2f1f3;
$text: #a19fad;
$background-without-opacity: rgba(255, 255, 255, 0.7);
