// background: linear-gradient(
//   45deg,
//   var(--secondary-color),
//   var(--tertiary-color)
// );

$primary: #191627;
$secondary: #5d0cc7;
$tertiary: #6a87fb;
$accent: #6e57e0;
$heading: #f2f1f3;
$text: #a19fad;

$column-width: 42rem;
